/* 
Spacing mixins and definitions
********************************************
Author: Nicholas Fazzolari 
*/

@mixin set-margins($name, $left : 0, $top: 0, $right: 0, $bottom: 0) {
    .nf-margin-#{$name} {
        margin-left: $left;
        margin-top: $top;
        margin-right: $right;
        margin-bottom: $bottom;
    }
}

@mixin set-paddings($name, $left : 0, $top: 0, $right: 0, $bottom: 0) {
    .nf-padding-#{$name} {
        padding-left: $left !important;
        padding-top: $top !important;
        padding-right: $right !important;
        padding-bottom: $bottom !important;
    }
}

@include set-margins("main-top", 8rem, 4rem);
@include set-margins("section-heading", 0, 4rem, 0, 2rem);

@include set-paddings("main-left", 8rem);
@include set-paddings("main-top", 8rem, 4rem);
@include set-paddings("details-left", 4rem);
@include set-paddings("heading-box", 1rem, 1rem, 1rem, 1rem);