@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

@mixin set-open-sans {
    font-family: 'Open Sans', sans-serif;
}

@mixin set-poppins {
    font-family: 'Poppins', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;

    &-light {
        @extend .open-sans;
        font-weight: 300;
    }

    &-regular {
        @extend .open-sans;
        font-weight: 400;
    }

    &-regular-italic {
        @extend .open-sans;
        font-weight: 400;
        font-style: italic;
    }

    &-bold {
        @extend .open-sans;
        font-weight: 700;
    }

    &-extrabold {
        @extend .open-sans;
        font-weight: 800;
    }
}

.poppins {
    font-family: 'Poppins', sans-serif;

    &-regular {
        @extend .poppins;
        font-weight: 400;
    }

    &-bold {
        @extend .poppins;
        font-weight: 700;
    }

    &-black {
        @extend .poppins;
        font-weight: 900;
    }
}