@use "../base/colors";
@use "../base/type";

html, body {
    background-color: colors.$bluegrey_lightest;
    color: colors.$bluegrey_medium;
    @include type.set-open-sans;
}

@mixin box-sizer($width, $height) {
    width: $width;
    height: $height;
}

.styleguide-logo-box {
    @include box-sizer(96px, 96px);
}

.color-demo-box {
    @include box-sizer(64px, 64px);
}