/* 
Style guide code rules
********************************************
Author: Nicholas Fazzolari 
*/

@use "../base/colors" as colors;
@use "../base/type" as type;
@use "../base/border" as borders;

html, body {
    background-color: colors.$bluegrey_lightest;
    color: colors.$bluegrey_medium;
    @include type.set-open-sans;
}

@mixin box-sizer($width, $height) {
    width: $width;
    height: $height;
}

.sg-logo-box {
    @include box-sizer(96px, 96px);
}

.sg-menu-item {
    background-color: colors.$bluegrey_dark;
    color: colors.$light_blue;
    padding: 1.25rem;
    transition: 0.3s;
}

.sg-menu-item:hover {
    background-color: colors.$light_yellow;
    color: colors.$bluegrey_medium;
    padding: 1.25rem;
}

.color-demo-box {
    @include box-sizer(64px, 64px);
}

.nf-header-divider {
    background-color: colors.$bluegrey_dark;
    @include box-sizer(100%, 1rem )
}